.figure {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &.white {
    &.king {
      background-image: url(./images/pieces/white-king.svg);
    }

    &.queen {
      background-image: url(./images/pieces/white-queen.svg);
    }

    &.rook {
      background-image: url(./images/pieces/white-rook.svg);
    }

    &.bishop {
      background-image: url(./images/pieces/white-bishop.svg);
    }

    &.knight {
      background-image: url(./images/pieces/white-knight.svg);
    }

    &.pawn {
      background-image: url(./images/pieces/white-pawn.svg);
    }
  }

  &.black {
    &.king {
      background-image: url(./images/pieces/black-king.svg);
    }

    &.queen {
      background-image: url(./images/pieces/black-queen.svg);
    }

    &.rook {
      background-image: url(./images/pieces/black-rook.svg);
    }

    &.bishop {
      background-image: url(./images/pieces/black-bishop.svg);
    }

    &.knight {
      background-image: url(./images/pieces/black-knight.svg);
    }

    &.pawn {
      background-image: url(./images/pieces/black-pawn.svg);
    }
  }
}
